/*

Vanilla Template

https://templatemo.com/tm-526-vanilla

*/

*{

transition: .5s;}

p {
  font-size: 15px;
  line-height: 25px;
}

section {
  padding: 25px 0 35px;
  background: #fff;
}

body { 
  position: relative; /* we need this for the scrollspy */ 
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

a { color: #3CC; }

a:hover { color: #FF0; }

/*----------
  NAV
----------*/

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: black;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  boder-right: 0;
}
.fixed-side-navbar .nav > li a:hover > span {
  color: black;
  display: block;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}


.primary-button a {
  display: inline-block;
  background-color: #ff7d27;
  padding: 15px 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}


.baner-content {
  padding-top: 30vh;
  text-align: center;

}

.baner-content h1 {
  margin-top: 0px;
  font-size: 128px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.baner-content em {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
}

.baner-content span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
}

.baner-content .primary-button {
  margin-top: 15px;
}



.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

h4, .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
  color: #fff;
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  color: #fff;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: #ff7d27;
  margin: 20px auto 15px auto;
}




.projects-content .item img {
  width: 100%;
}

.projects-content .item {
  margin: 15px;
}



.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}


.tabs-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8vh;
  background-image: url(../img/4th-section.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}




.clearfix:after {
  content:"";
  display:table;
  clear:both;
}




@media (max-width: 767px){
  
  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content em {
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #ff7d27;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


/* razan */
*{
}
.baner-content{
background: url(../img/w4.jpg) center no-repeat;
background-size: cover;
}

.first-content{
display: flex;
flex-direction: column;
padding: 20px 30px;
gap: 20px;
margin: 1px auto;

}
.first-content h1{
font-size: 10rem;
color: rgba(0, 0, 0, 0.772);
}
.first-content p{
font-size: 2rem;
color: white;
width: 60%;
align-self: center;
}

.first-content button{
background-color: transparent;
width: fit-content;
padding: 15px 50px;
align-self: center;
font-size: 2rem;

}
.first-content button a{ 
text-decoration: none;
color: #e3ebfe;
transition: .5s;
}


.button {
  width: fit-content;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1.5px;
font-size: 2rem;
padding: 10px 25px;
margin-top: 30px;
transition: .5s;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}
.button:hover{
color: rgba(0, 0, 0, 0.628);
}
.button::after,
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
 background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255, 94, 247, 0.884) 17.8%, rgba(39, 209, 215, 0.756) 100.2% );
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff88;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}
.button:hover a{
color: black;
}
.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
/* work */
.work{
background: url(../img/t4.png) center no-repeat;
background-size: cover;
height: 100vh;
display: block;
color:rgba(0, 0, 0, 0.813);
}
.headline h1{
font-size: 5rem;
text-align: center;
margin-bottom: 10px;
font-weight: bold;

}
.outer{

position: relative;
width: 85px;
height: 85px;
border-radius: 50%;
transition: .5s;
overflow: hidden;
box-shadow: -6px 10px 23px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: -6px 10px 23px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 10px 23px -7px rgba(0,0,0,0.75);
}

.outer span{
background-color: transparent;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
width: 90px;
height: 90px;
border-radius: 50%;
transition: .5s;
}

.outer icon{
display: flex;
align-items: center;
justify-content: center;
background: rgba( 255, 255, 255, 0.07);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
color:rgba(0, 0, 0, 0.594);

top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
width: 90px;
height: 90px;
border-radius: 50%;
font-size: 4rem;
transition: .5s;
}
.outer icon i{
transition: 0.1s;
}



.outer content{
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
clip-path: circle( 45px at center);
padding: 10px 20px;
transition: .5s;
width: 100%;
height: 100%;
align-items:center;
padding-bottom: 10px;
justify-content: flex-end;
transition: .5s;
background: rgba( 255, 255, 255, 0.2);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);

border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}

.outer:hover{
width: 300px;
height: 250px;
border-radius: 0;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}
.outer:hover content{
clip-path: circle( 500px at center);

}

.outer:hover icon{
width: 100%;
height: 70px;
top: 0;
left: 0;
border-radius: 0;
transform: translate(0,0);
background-color: rgba(0, 0, 0, 0.584);

}
.outer:hover icon i{
color: #ffffffce;

}
.outer content p,.outer content h1{
text-align: center;
}

.outer text{
display: flex;
justify-content: flex-end;
flex-direction: column;
width: 300px;
padding: 0 10px;
height: fit-content;
gap: 15px;
opacity: 0;
}
.outer text h1{
text-transform: capitalize;
font-weight: bold;

}
.outer text p{
text-transform: capitalize;
}
.outer:hover text{
opacity: 1;
}
/* port */
.port{
background: url(../img/t3.jpg) no-repeat center;
background-size: cover; 
display: block;
 padding-top: 20vh;
 padding-bottom: 20vh;
}

.port content{
display: flex;
flex-direction: column;

}
.port content h1{
font-size: 6rem;
font-weight: bold;
padding-bottom: 30px; text-transform: capitalize;
}
.port content p{
font-size: 1.7rem;

text-transform: capitalize;
}
.port content button{
width: fit-content;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 1.5px;
font-size: 2rem;
padding: 10px 25px;
margin-top: 30px;
transition: .5s;
}
.port .item{
background: rgba( 255, 255, 255, 0.36);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
height: 350px;
width: 200px;

margin-right: 20px;

}

.port .item .text-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 5px;
  overflow: hidden;
}

.port .item .text-content h4 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 600;
  height: 70px;
}

.port .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: #ac51c8;
}

.port .item button{
position: absolute;
border: none;

text-transform: uppercase;
background-color: #d460a7;
font-weight: bold;
color: white;
cursor: pointer;
font-size: 1.3rem;
z-index: 2;
transition: .6s;
border-radius: 16px;
width: 100%;
padding: 10px;
bottom: 0;
left: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
clip-path: circle(30px at right bottom);
}


.port .item:hover .text-content span{
opacity: 0;
}
.port .item:hover button{
clip-path: circle(120px at center)  ;

}
.port .item button::after{
position: absolute;
top: 0;
left: 0;
content: "";
background-color: rgba(0, 0, 0, 0.358);
width: 100%;
height: 100%;
transition: .5s;
z-index: -1;
border-radius: 16px;
clip-path: circle(25px at left top);
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.port .item button:hover{
/* color: black; */
}
.port .item button:hover::after{
clip-path: circle(200px at left top);

}
/* /our-story */

.our-story{
background: url(../img/t7.jpg) center no-repeat;
background-size: cover;
position: relative;

}
.our-story .container{
height: 450px;
background: rgba(255, 255, 255, 0.249);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(12px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.568);

}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:rgba(1, 1, 1, 0.566);
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  padding:20px 15px;
  font-weight: bold;
  border-radius: 16px;
  padding-top: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: translateY(-10px);
  z-index: 2;
}
.tabs a::before{
  z-index: -1;
  border-radius: 16px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
content:"";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(255, 255, 255);
  height: 0px;
  transition: .8s;
}
.tabs a:hover {
  /* color: #ff7d27; */
}
.tabs .active::before {
  height: 100%;
  }
.tabs .active {
  
  color: black;
}

.tabgroup  div{

}
.tabgroup img{
width: 300px;
height: 300px;
background-size: contains;
animation: x 3s linear infinite;
object-fit: cover;
z-index: 4;
}
@keyframes x {
  0%{ transform: translateY(-10px);}
  50%{transform: translateY(10px);
  }
  100%{ transform: translateY(-10px);}
  
}
.tabgroup p {
transform: translate(300px,-200px);
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 25px;
  width: 600px;
  height: 150px;
  text-align: center;
  
  border-radius: 16px;
 

}
.wrapper {

}
.contact{
  padding-top: 16vh;

height: 100vh;
display: block;
background:url(../img/t6.png) center no-repeat;
background-size: cover;
}

.contact-form {
  display: flex;
  align-items: center;
  padding: 30px 25px;
  margin-bottom: 30px;
}
#contact fieldset:last-of-type{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
#contact input {
  border-radius: 3px;
  padding-left: 15px;
  font-size: 13px;
  color: #232323;
  background: rgba( 255, 255, 255, 0.2);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;

  line-height: 50px;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
}

#contact textarea {
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #232323;
  background-color: rgba(250, 250, 250, 1);
  outline: none;
background: rgba( 255, 255, 255, 0.2);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
  height: 165px;
  max-height: 220px;
  width: 100%;
  margin-bottom: 25px;
}


.map {
  margin-bottom: 30px;
  width: 100%;
  
  padding: 30px 20px;
}

.btn {
 width: fit-content;
 height: fit-content ;
 font-size: 2rem;
 font-weight: bold;
 letter-spacing: 1.5px;
 color: #232323c3;
 padding: 10px 50px;
 cursor: pointer;
 background-color: transparent;
 background: rgba(255, 255, 255, 0.308);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(1px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
 transition: .4s;
}

.btn:hover {
 background: rgba(255, 255, 255, 0.68);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
 

}

.btn:active {
 transition: all 0.2s;
 transform: translateY(-5px);
 box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}

footer {
  text-align: center;
  background-color: #282b2f;
  padding: 70px 0px;
}
footer{

background:url(../img/w.jpg) center no-repeat;
background-size:cover;
}
footer .row:first-of-type{
  background: rgba( 255, 255, 255, 0.2);
backdrop-filter: blur(13px);
-webkit-backdrop-filter: blur(13px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
justify-content: space-between;
width: 100%;
}


footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 30px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  border: 2px solid transparent;
  
  color: #282b2f;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #282b2f;
 background-color: #ffffff;
  
  
}

footer p {
  font-size: 16px;
  
  margin-top: 15px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer h1 {
  
  text-transform: capitalize;
  font-weight: bold;
  padding-top: 20px;
}
footer .con{
list-style: none;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
}
footer .con item{
display: flex;
margin-top: 10px;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding:5px 10px;
color: #232323;
background: rgba( 255, 255, 255, 0.53);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);
cursor: pointer;
}
footer .con item:hover{
scale: 95%;
background: rgba( 255, 255, 255, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.3);

}
footer .con icon{
display: flex;
height:40px;
width: 40px;
align-items: center;
justify-content: center;
font-size: 2rem;
}
footer .con item text{
color:black;
font-size: 12px;
display:flex;
width: 200px;
align-items: center;
justify-content: center;

}
footer p{
text-transform: capitalize;
}